<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="category">		
	<insert id="insert" parameterType="categoryVo">
		insert	into category (title, description, blog_id)
		values	(
			#{title}
			, #{description}
			, #{blogId}
		);
	</insert>
	
	<update id="delete" parameterType="categoryVo">
		update	category
		   set	use_yn = false
		 where	no=?
		   and	blog_id=??
		;
	</update>
	
	<select id="selectByBlogId" parameterType="categoryVo" resultType="categoryVo">
		select	no, title, description, reg_date, use_yn, blog_id
		  from	category
		 where	blog_id=#{blogId}
		   and	use_yn=true
		 order	by reg_date asc
		;
	</select>
	
	<select id="selectCntByBlogId" parameterType="categoryVo" resultType="int">
		select	count(*)
		  from	category
		 where	blog_id=#{blogId}
		   and	use_yn=true
		 order	by reg_date asc
		;	
	</select>
	
	<select id="existCheck" parameterType="categoryVo" resultType="int">
		select	count(*)
		  from	category
		 where	no=#{no}
		   and	use_yn=true
		   and	blog_id=#{blogId}
		;	
	</select>
</mapper>