<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="post">
	<insert id="insert" parameterType="postVo">
		insert	into post(title, contents, category_no)
		values	(
			#{title}
			, #{contents}
			, #{categoryNo}
		);
		<selectKey keyProperty="no" resultType="int">
			select	last_insert_id();
		</selectKey>
	</insert>
	
	<select id="selectListByCategoryNo" parameterType="postVo" resultType="postVo">
		select	no, title, reg_date, category_no
		  from	post
		 where	category_no=#{categoryNo}
		   and	use_yn=true
		 order	by reg_date desc
		;
	</select>
	
	<select id="selectByNoAndCategoryNo" parameterType="postVo" resultType="postVo">
		select	title, contents
		  from	post
		 where	no=#{no}
		   and	category_no=#{categoryNo}
		;
	</select>
</mapper>