<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.co.itcen.jblog.vo.UserVo" alias="userVo"/>
		<typeAlias type="kr.co.itcen.jblog.vo.BlogVo" alias="blogVo"/>
		<typeAlias type="kr.co.itcen.jblog.vo.CategoryVo" alias="categoryVo"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mappers/userMapper.xml" />
		<mapper resource="mybatis/mappers/blogMapper.xml" />
		<mapper resource="mybatis/mappers/categoryMapper.xml" />
	</mappers>
</configuration>